html,body {
    background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(145,145,251,1) 47%, rgba(0,39,255,1) 100%);
}

h1 {
    color: rgb(95, 95, 240);
    font-size: 50px;
    
}